body {
	background-color: rgb(224,224,224);
}

.title {
	font-family: "Times New Roman";
	font-weight: bold;
	text-shadow: 2px 2px #F8F8FF;
	font-size: 44px;
}

.well {
	font-size: 18px;
	font-family: "Verdana,Arial,Helvetica";
}

.top {
	border: 3px double #0000FF;
	background: #C1FFC1;
	width: 285px; 
}

.explain {
	font-weight: bold; 
	color: #0000FF;
}

.formBox {
	 border-color: #3CB371;
	 width: 420px; 
}

.blue {
	color: #0000FF;
}

.border {
	border: 1px solid black;
}